.statusBar {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    border: none;
    width: 33.33%;
    text-align: left;
    background-color: transparent;
}

.typeBar {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    border: none;
    width: 33.33%;
    text-align: left;
    background-color: transparent;
}

.yesNoBar {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    border: none;
    width: 33.33%;
    text-align: left;
    background-color: transparent;
}

.countryBar {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    border: none;
    width: 33.33%;
    text-align: left;
    background-color: transparent;
}

.searchBar{
    size: 20rem;
    width: 35%;
    height: 3rem;
    margin-left: 25%;
    margin-right: 1%;
    padding-left: 1%;
    align-items: end;
    align-content: end;
    border-width: medium;
    display: inline-block;
    background: "#FFFFFF";
    font-size: 50%;
    border: "none"; 
    /* height, width*/
    /* padding: 15px 15px; */
}

.sortBar{
    padding: 15px 15px;
    display: inline-block;
}