.header {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.backing {  
  padding: 20px;
  margin-bottom: 10px;
  background-color:gray;
  opacity: .8;
  height: calc(12vw);
  width: 100vw;
}

.format {  
  width: 100vw;
}

.title {
  font-size: 5vw;
  color: rgb(128, 216, 236);
  font-weight: 600;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
  border: 100px black;
  -webkit-text-stroke: 1px #000000;
}

.subtitle {
  font-size: calc(1.1vw);
  color: rgb(144, 216, 193);
  font-style: italic;
  font-weight: 700;
  -webkit-text-stroke: .1px #000000;
  white-space: nowrap;
}

.explore {
  font-size: calc(1.3vw);
  color: rgb(144, 216, 193);
  font-style:inherit;
  font-family: serif;
  font-weight: 700;
  -webkit-text-stroke: .1px #000000;
  white-space: nowrap;
}

.model-title {
  font-size: calc(1.5vw);
  color: white;
  font-weight: 700;
  -webkit-text-stroke: .5px #000000;
}

.model-pic {
  width: 175px;
  height: 175px;
}

.disaster-position {
  position: absolute;
  bottom: 10%;
  left: 5%;
}

.country-position {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
}

.organization-position {
  position: absolute;
  bottom: 10%;
  right: 5%;
  
}
