.model-page-title{
    color : black;
    font-size : 3vw;
    font-weight: 500;
}

.cardImage {
    vertical-align: middle;
    border-style: none;
    width: 100%;
    height: auto;
    image-resolution: from-image 300dpi;
}