.labelsTop {
    line-height: 0px;
    padding: 10px 5px 0px 5px; /*TRBL*/
    /* display: inline-block; */
}

.labels {
    line-height: 0px;
    padding: 0px 5px 0px 5px; /*TRBL*/
    /* display: inline-block; */
}

.labelsBottom {
    line-height: 0px;
    padding: 0px 0px 10px 0px; /*TRBL*/
    /* display: inline-block; */
}

.custom-tooltip {
    background-color:#ecffb3;
    /* padding: 15px 5px 5px; */
}
